# Игнорировать файлы окружения
.env

# Игнорировать данные пользователя
user_data.json

# Игнорировать логи
logs/

# Игнорировать сгенерированные QR-коды
qrcodes/

# Игнорировать файл запуска
Запуск считателя.py
